.commercialPage {
	background-image: url('./images/commercialBG.jpg');
	background-repeat: no-repeat;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	box-shadow: 0px 1px 20px rgb(91, 91, 91);
}

.commercialMsg {
	display: flex;
	flex-wrap: wrap;
	margin-top: 98px;
	text-align: center;
	font-size: 25px;
	color: black;
	height: 400px;
	width: 50%;
	border-left: black solid 2px;
	float: right;
	margin-right: 50px;
}

.commercialMsg h2 {
	font-size: 30px;
	margin-top: 20px;
	margin-left: 400px;
	padding: 10px;
}
.commercialMsg p {
	margin-top: -100px;
	padding: 50px;
}
