.navSearch input {
	width: 30%;
	height: 20px;
	float: right;
	margin-right: 5%;
	margin-top: -10px;
}
#keywordBtn {
	cursor: pointer;
	height: 75px;
	width: 75px;
	background-color: black;
	border-radius: 100px;
	color: white;
	font-size: 20px;
	float: right;
	margin-top: -30px;
	margin-right: -35%;
}
