.langWrap {
	display: block;
	width: 50px;
	margin-top: 5px;
}

.langBtn {
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 10px;
	border: black solid 1px;
	border-radius: 200px;
	cursor: pointer;
}
