.langWrap {
	display: inline-block;
	width: 20%;
}

.langBtn {
	float: right;
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	border: black solid 1px;
	border-radius: 100px;
	cursor: pointer;
}

@media only screen and (min-width: 1000px) {
	.langWrap {
		display: block;
		width: 50px;
		margin-top: 5px;
	}

	.langBtn {
		float: left;
		width: 25px;
		height: 25px;
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 10px;
		border: black solid 1px;
		border-radius: 200px;
		cursor: pointer;
	}
}
