.seachResults {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 30px;
	margin-top: 170px;
}

.resultsCounter {
	text-align: center;
	width: 100%;
	font-size: 25px;
	margin-top: 170px;
	margin-bottom: -100px;
}
